<!-- Footer -->
<footer class="page-footer text-center text-md-left unique-color-dark pt-0">

    <div class="top-pink-footer">
        <div class="container">

            <!-- Grid row -->
            <div class="row py-4 d-flex align-items-center">
            </div>
            <!-- Grid row -->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!-- First column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-5">
                <h6 class="spacing font-weight-bold">
                    <strong>Mundo Invertir</strong>
                </h6>
                <hr class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet,
                    consectetur
                    adipisicing elit.
                </p>
            </div>
            <!-- First column -->

            <!-- Second column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-5">
                <h6 class="spacing font-weight-bold">
                    <strong>Servicios</strong>
                </h6>
                <hr class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Mundo Automotores</a>
                </p>
                <p>
                    <a href="#!">Mundo Vivienda</a>
                </p>
            </div>
            <!-- Second column -->



            <!-- Fourth column -->
            <div class="col-md-4 col-lg-3 col-xl-4">
                <h6 class="spacing font-weight-bold">
                    <strong>Contacto</strong>
                </h6>
                <hr class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-1"></i>Juan F. Cobos 1477 - Dorrego, Mendoza</p>
                <p>
                    <i class="fas fa-envelope mr-1"></i>administracion@mundoviviendamza.com</p>
                <p>
                    <i class="fas fa-phone mr-1"></i>+54 9 261 247-0237</p>
                <p>
                    <i class="fab fa-whatsapp mr-1"></i>54 9 261 665-5070</p>
            </div>
            <!-- Fourth column -->

        </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2019 Copyright: <a href="https://www.mundoviviendamza.com" target="_blank">
                Mundo Invertir</a>
        </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->