<div class="container" id="planes">

<!-- Section: Pricing v.3 -->
<section class="text-center my-5">

    
        <!-- Grid row -->
        <div class="row justify-content-center">
    
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4" *ngFor="let brand of brands[0]" >
    
                <!-- Card -->
                <div class="card mb-4">
    
                    <!-- Content -->
                    <div class="card-body wow fadeIn">
    
                        <!-- Offer -->
                        <h5 class="mb-4"> {{ brand.nombre | uppercase }} </h5>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <div class="view">
                                <img src="{{ brand.imgPath }}" alt="" class="img-fluid">
                            </div>
                        </div>
    

                        <hr>
                        <a [routerLink]="['/autos', brand.nombre | lowercase]" fragment="brand" class="btn pink-gradient btn-rounded font-weight-bold">VER MODELOS</a>
    
                    </div>
                    <!-- Content -->
    
                </div>
                <!-- Card -->
    
            </div>
            <!-- Grid column -->
    
    
    
        </div>
        <!-- Grid row -->
    
    </section>
    <!-- Section: Pricing v.3 -->
    
    <hr>
</div>