<div class="container">
    <!-- Section First Benefits -->
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">EN MUNDO AUTOMOTORES TENEMOS LA MEJOR FINANCIACIÓN
    </h2>

    <!-- Grid row -->
    <div class="row wow fadeIn" data-wow-delay="0.2s">

        <!-- Grid column -->
        <div class="col-lg-4 text-center">
            <div class="icon-area">
                <div class="circle-icon">
                    <i class="fas fa-grip-vertical blue-text"></i>
                </div>
                <br>
                <h5 class="dark-grey-text font-weight-bold mt-2">Cuotas</h5>
                <div class="mt-1">
                    <p class="mx-3 grey-text">
                        Te ofrecemos financiación del 100% para tu 0 KM!
                    </p>
                </div>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 text-center">
            <div class="icon-area">
                <div class="circle-icon">
                    <i class="fas fa-wallet blue-text"></i>
                </div>
                <br>
                <h5 class="dark-grey-text font-weight-bold mt-2">Facilidad</h5>
                <div class="mt-1">
                    <p class="mx-3 grey-text">
                        Aceptamos todos los medios de pagos disponibles
                    </p>
                </div>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 text-center mb-4">
            <div class="icon-area">
                <div class="circle-icon">
                    <i class="fas fa-exchange-alt blue-text"></i>
                </div>
                <br>
                <h5 class="dark-grey-text font-weight-bold mt-2">Flexibilidad</h5>
                <div class="mt-1">
                    <p class="mx-3 grey-text">
                        Oportunidad de cambio de modelo
                    </p>
                </div>
            </div>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <!-- End Section First Benefits -->


    <hr class="py-3 mt-4">

</div>


