<!-- Streak -->
<div class="streak streak-photo streak-md"
    style="background-image: url('https://es.ford.com/cmslibs/content/dam/brand_ford/en_us/ford-sales-event/summer-sales-event/FMEP0620000_Explorer_ExplorationImage_2160x945.jpg/_jcr_content/renditions/cq5dam.web.1440.1440.jpeg');">
    <div class="flex-center view rgba-indigo-light mask flex-center rgba-black-strong">
        <div class="container py-3">

            <!-- Section: Features v.4 -->
            <section class="wow fadeIn" data-wow-delay="0.2s">

                <!-- Section heading -->
                <h2 class="py-5 my-5 white-text font-weight-bold text-center wow fadeIn" data-wow-delay="0.2s">
                    ¡NO ESPERES MÁS!</h2>

                <!-- Grid row -->
                <div class="row mb-5">

                    <!-- Grid column -->
                    <div class="col-md-12 col-lg-6">

                        <!-- Grid row -->
                        <div class="row mb-5">
                            <div class="col-2">
                                <a type="button" class="btn-floating white btn-lg my-0">
                                    <i class="far fa-check-circle blue-text"></i>
                                </a>
                            </div>
                            <div class="col-9 pl-5">
                                <h4 class="font-weight-bold white-text">Directo de fábrica</h4>
                                <p class="white-text">Tu 0 KM totalmente en cuotas.
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row mb-5">
                            <div class="col-2">
                                <a type="button" class="btn-floating white btn-lg my-0">
                                    <i class="fas fa-car blue-text"></i>
                                </a>
                            </div>
                            <div class="col-9 pl-5">
                                <h4 class="font-weight-bold white-text">Flexibilidad</h4>
                                <p class="white-text">Recibimos tu usado.</p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row mb-5">
                            <div class="col-2">
                                <a type="button" class="btn-floating white btn-lg my-0">
                                    <i class="fas fa-shipping-fast blue-text"></i>
                                </a>
                            </div>
                            <div class="col-9 pl-5">
                                <h4 class="font-weight-bold white-text">Rapido</h4>
                                <p class="white-text">
                                    Entrega asegurada a partir de la cuota N° 6.
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-12 col-lg-6">

                        <!-- Grid row -->
                        <div class="row mb-5">
                            <div class="col-2">
                                <a type="button" class="btn-floating white btn-lg my-0">
                                    <i class="fas fa-wallet blue-text"></i>
                                </a>
                            </div>
                            <div class="col-9 pl-5">
                                <h4 class="font-weight-bold white-text">Pagos</h4>
                                <p class="white-text">Aceptamos una gran variedad de medios de pago.
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row mb-5">
                            <div class="col-2">
                                <a type="button" class="btn-floating white btn-lg my-0">
                                    <i class="fas fa-arrow-down blue-text"></i>
                                </a>
                            </div>
                            <div class="col-9 pl-5">
                                <h4 class="font-weight-bold white-text">Facil</h4>
                                <p class="white-text">
                                    Adquirilo con mínimos requisitos.
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row mb-5">
                            <div class="col-2">
                                <a type="button" class="btn-floating white btn-lg my-0">
                                    <i class="fas fa-cubes blue-text"></i>
                                </a>
                            </div>
                            <div class="col-9 pl-5">
                                <h4 class="font-weight-bold white-text">Modelo</h4>
                                <p class="white-text">
                                    Gran disponibilidad de modelos.
                                </p>
                            </div>
                        </div>
                        <!-- Grid row -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: Features v.4 -->
        </div>
    </div>
</div>
<!-- Streak -->