<header>
    <!-- Navigator -->
    <app-navbar></app-navbar>

    <!-- Introduction -->
    <app-intro></app-intro>
</header>


<main>


    <router-outlet></router-outlet>

    <div class="container">
        <!-- Contact Form -->
        <app-contact></app-contact>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>


    <!-- Floating Button Whatsapp -->
    <div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 24px;">
        <a href="{{ socialLink.whatsapp }}" target="_blank" class="btn-floating btn-large btn-success">
            <i class="fab fa-whatsapp text-white"></i>
        </a>
    </div>

</main>